.navigation-bar {
    height: 3rem;
    padding: 0px 40px;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 20px;
    color: white;
    flex: 1;
}

.search-movie {
    flex: 1;
}